.header {

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 0;

	@media (min-width: 480px) {
		padding: 16px 0;
	}

	@media (min-width: 768px) {
		padding: 20px 0;
	}

	@media (min-width: 990px) {
		padding: 24px 0;
	}

	@media (min-width: 1200px) {
		padding: 30px 0;
	}

	@media (min-width: 1440px) {
		padding: 36px 0;
	}
	
	@media (min-width: 1820px) {
		padding: 50px 0;
	}
}